<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let itme of cartprodicts;let index =index">
                    <td class="p-4">
                      <div class="media align-items-center d-flex">
                        <div>
                            <img src="{{itme.item.image}}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        </div>
                        <div class="ms-5">
                            <h3>{{itme.item.title}}</h3>
                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{itme.item.price}}L.E</td>
                    <td class="align-middle p-4"><input type="number" class="form-control text-center" (change)="updatdata(index)" min="1" [(ngModel)]="itme.quantity"></td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{itme.item.price * itme.quantity}}L.E</td>
                    <td class="text-center align-middle px-0"><button class="shop-tooltip close float-none text-dark btn btn-danger"  data-original-title="Remove" (click)="delet(index)"> × </button></td>
                  </tr>
        
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
                <label class="text-muted font-weight-normal">Promocode</label>
                <input type="text" placeholder="ABC" class="form-control">
              </div>
              <div class="d-flex">
                <div class="text-right mt-4 mr-5">
                  <label class="text-muted font-weight-normal m-0">Discount</label>
                  <div class="text-large"><strong>0</strong></div>
                </div>
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large"><strong>{{total}}</strong></div>
                </div>
              </div>
            </div>
      
            <div class="float-right">
              <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" routerLink="products">Back to shopping</button>
              <button type="button" class="btn btn-lg btn-primary mt-2" routerLink="/buying">Payment</button>
            </div>
        
          </div>
      </div>
  </div>
